    {% extends "base.html" %}

    {% block start %}

    <div class="container">
        <div class="row">   
            {% for pizza in pizzas %}
            <div class="col-6 col-sm-6 col-md-4 col-lg-3">
                <div class="card shadow-lg h-100 p-1" >
                    <img class="card-img-top" src="{{ MEDIA_URL }}{{ pizza.images.url }}" alt="Card image cap" style="height:300px">                    
                    <div class="card-block">
                        <h4 class="card-title font-weight-bold">{{ pizza.name }}</h4>
                        <p><strong>Price:</strong> {{ pizza.price }} | <strong>Category:</strong> {{ pizza.category.category_name }}</p>
                        <p>{{ pizza.pizza_name }}</p>
    
                        <div class="card-footer text-center">
                            <a href="{% url 'addcart' pizza.uid %}" class="btn btn-primary"><i class="fa-solid fa-cart-shopping"></i> Add to Cart</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
    
    




    

    {% endblock %}